html{
    overflow-y: scroll;
}
body{ 
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
.image-resize { 
    height: 380px;
    object-fit: cover;
    object-position: center center;
}

body{ 
    
      background-color: white;
  }
.contact-title {
    margin-top: 100px;
    color:#777777;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
 }
  .contact-title h1{
      font-size:32 px;
      line-height: 10px
  }

  .contact-title h2{
      font-size:16px;
      line-height:10px;
  }

  form{ 
      margin-top:50px;
      transition: all 4s ease-in-out;
  }
  .form-control
  {   
      width:600px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
      color: #4aaaa5;
      font-size: 18px;
      margin-bottom: 16px;
  }
  form.submit{
      background: #666666;
      border-color: black;
      color:#4aaaa5;
      font-size: 20px;
      font-weight:bold;
      letter-spacing: 2px;
      height: 50px;
      margin-top:20px;
   }
   form.submit:hover{
       background-color: #f44336;
       cursor: pointer;
       
   }
header {
	height: 90px;
	width: 960px;
	margin-bottom: 50px;
    background-color: black;
    border-color:white;
    border-bottom: solid 10px #4aaaa5;
}
input{ 
    height: 45px;
}



img {  display: block;
    margin-right: auto;
    width: 20%;
    border-radius: 4px;

}
h1 {
    position: fixed;
    float:left;
	margin-left: 10%;
	padding: 20px;
    font-family: 'Georgia', Times, Times 'Times New Roman';
	background-color: #4aaaa5;
	color:white;
	font-size: 30px;
}

h2 {
    margin-right: auto;
	font-size: 40px;
	color: #4aaaa5;
}


h3 {float: left;
	font-size: 20px;
	color: #777777;
}

nav{ 
    float: right;

  
}

nav li{ 
    display: inline-block;
    margin-left: 70px;
    padding-top:25px;
    position: relative;

}
nav a{
    color: #444;
    position: absolute;
    text-align: center
}
nav a:hover { 
    color: #dddddd;

}
nav a::before{
    content: '';
    display:block;
    height: 5px;
    width: 0%;
    background-color:#dddddd;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}
nav a:hover::before{
    width: 100%;
}



body {
	clear: both;
	width: 960px;
    margin:auto;
    font-weight: 400;
   
}

 footer {
	clear: both;
	background-color: #666666;
	border-top: solid 4px #4aaaa5;
	height: 60px;
	width: 960px;
	margin:auto;
	position: fixed;
	bottom: 0;
}

table{
    border-spacing: 50px;
}
th, td {
    padding: 15px;
    height: 560px;
    width:960px;
    
    
  }
  